{% extends "base.html" %}

{% block content %}
  <p>User: is {{ user.id }}</p>
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers <a class="btn btn-primary link-to-page" href="{% url 'taxi:assign-driver-to-car' pk=car.id %}">Assign me to this car</a></h1>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
